<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>G:\steam\steamapps\common\PAYDAY 2\payday2_win32_release.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>G:\steam\steamapps\common\PAYDAY 2\mods\WolfHUD</StartWorkingDirectory>
  </propertyGroup>
</Project>